// Place all the styles related to the print controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the print controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table
{
	border: 0;
	border-collapse: collapse;
	border-style: solid;
	width: 14.5cm;
	height: 24cm;
	/*padding: 2px auto auto 2px;*/
}
td
{
	border: 1px;
	border-style: solid;
	padding-top: 0.5cm;
	padding-left: 0.5cm;
	font-family: "仿宋";
	font-size:0.5cm;

}
th
{
	height: 2cm;
	font-size: 0.6cm;
	font-family: "黑体";
	text-align: center;
}
.noborder
{
	border: 0;
	padding: 0;
}
.gao1
{
	height: 0.5cm;
}
.right
{
	text-align: right;
}
/*.left
{
	text-align: left;
}*/
.gao2
{
	height: 1.2cm;
	width: 6.3cm;
}
.gao3
{
	height: 1.8cm;
}
.gao4
{
	height: 3.2cm;
}
.top
{
	vertical-align: top;
}
.lwdw
{
	vertical-align: top;
	width:8.2cm;

	/*text-align: left;*/
}
.wz
{

	margin-left: 1cm;
}
@media print
{
  .diss
  {
    display:none;
  }
}
