<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse col-xs-6">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to "首页",root_path %>
                </li>
                <li>
                    <%= link_to "文件列表",rec_docs_path %>
                </li>
                <li>
                    <%= link_to "新增收文",new_rec_doc_path(type:0) %>
                </li>
                <li>
                    <%= link_to "新增信访",new_rec_doc_path(type:1) %>
                </li>
            </ul>
        </div>
    </nav>
